/* Theme colors (Oxocarbon) */
@define-color background-color #161616;
@define-color border-color #42be65;
@define-color label #f2f4f8;
@define-color image #33b1ff;
@define-color progress #42be65;

window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
